.jumbotron {
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 70vh;
    margin-bottom: 0;
}

.display-4 {
    margin-top: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 100px;
}