*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("IMG_0742.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: left;
    text-align: center;
    list-style: none;
    margin-top: 40px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    float: left;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.row
{
    max-width: 1300px;
    margin: auto;
}

.hero
{
    color: white;
    position: absolute;
    width: 1200px;
    margin-left: 110px;
    margin-top: 10px;
}

h1, h2
{
    color: white;
    text-transform: uppercase;
    font-size: 65px;
    text-align: left;
}

h3{
    color: white;
    font-size: 50px;
    text-align: left;
}
p
{
    color: white;
    margin-bottom: 30px;
    width: 700px;
    font-size: 20px
}