<html>
<head>
<title>About</title>
<link href="About_style.css" rel="stylesheet" type="text/css">
<link href="About_materialize.css" rel="stylesheet" type="text/css">
<link href="About_index.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="favico.png"/>

</head>
<body>
    <body style="background-image:url(IMG_0742.jpg)">
    <header>

        <!-- <div class="row">
            <ul class="main-nav">
                <li class="active"><a href=""> Home</a></li>
                <li><a href=""> Chats</a></li>
                <li><a href=""> About Us</a></li>
            </ul>
        </div> -->
        
        <nav>
                <div class="nav-wrapper" id="cc_nav-home">
                    <a href="#" class="brand-logo white-text">CampusChat</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="white-text cc_nav-bar-button">Home</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">Imprint</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">Contact Us</a></li>
                        <!-- TODO: Add login link after fixing the login page -->
                        <li><a href="/" class="white-text cc_nav-bar-button">Login</a></li>
                    </ul>
                </div>
        </nav>

        
        <div class="hero">
            <center><img src = "favico.png" style= "width: 350px; height: 300px"></center>
            <h2><center>About</center></h2>
            <p><center> 
                CampusChat is a communication platform that provides students, professors and staff members more robust communication and interaction.
                It is only compatible for Jacobs University, therefore only those who are officially registered under Jacobs University (whether that is as students, professors or staff) can access 
                CampusChat. <br/>

                This website was created and is operated by the CampusChat Group, which consist of Jasmine, Dragi, Fezile, and Dushan. We are
                a group of Computer Science majors at Jacobs University Bremen, who believe that CampusChat would make communication
                on campus easier and more professional. <br/>
            </center></p>
    
            </div>
        </header>
    </body>

</html>