{% extends "layout.html" %}
{% block head %}
<title>About</title>
<link href="{{ url_for('static', filename='about.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favico.ico') }}"/>

{% endblock %}
{% block content %}    
<header>
        
        <div class="hero">
            <center><img src = "{{ url_for('static', filename='images/favico.png') }}" style= "width: 350px; height: 300px; position: relative; right: 30px;"></center>
            <h1><center><strong>ABOUT</strong></center></h1>
            <p><center> 
                CampusChat is a communication platform that provides students, professors and staff members more robust communication and interaction.
                It is only compatible for Jacobs University, therefore only those who are officially registered under Jacobs University (whether that is as students, professors or staff) can access 
                CampusChat. <br/>

                This website was created and is operated by the CampusChat Group, which consist of Jasmine, Dragi, Fezile, and Dushan. We are
                a group of Computer Science majors at Jacobs University Bremen, who believe that CampusChat would make communication
                on campus easier and more professional. <br/>
            </center></p>
    
            </div>
        </header>
{% endblock %}
{% block scripts %}
{% endblock %}