<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="stylesheet" href="../static/chat.css">
</head><body>
<div id="frame">
	<div id="sidepanel">
		<!-- PROFILE PIC STARTS HERE -->
		<div id="profile">
			<div class="wrap">
				<span id="cc_user-id" data-user-id="{{ user_data.matr_num }}"></span>
				<img id="profile-img" src="../static/images/avatar1.png" class="online" alt="" />
				<p>{{ user_data.first_name }} {{ user_data.last_name }}</p>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
		<!-- PROFILE PIC ENDS HERE -->
		<!-- CONTACT LIST STARTS HERE -->
		<div id="contacts">
			<ul>
				{% for item in courses %}
				<a href="/chat/{{ item.course_id }}">
					<li class="contact {% if item.name == course_name %}{{ 'active' }}{% endif %}">
						<div class="wrap">
							<span class="contact-status online"></span>
							<img src="../static/images/db.png" alt="" />
							<div class="meta">
								<p class="name">{{ item.name }}</p>
								<p class="preview">{{ item.course_id }}</p>
							</div>
						</div>
					</li>
				</a>
				{% endfor %}
				<!-- 
				<li class="contact">
						<div class="wrap">
							<span class="contact-status"></span>
							<img src="../static/images/dushan.png" alt="" />
							<div class="meta">
								<p class="name">Dushan Terzikj</p>
								<p class="preview">Okay</p>
							</div>
						</div>
					</li>
				 -->
				<!-- <li class="contact active">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/db.png" alt="" />
						<div class="meta">
							<p class="name">DBWS Project</p>
							<p class="preview">Fezi: Okay then see you at 8:30 in the QSA again</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="../static/images/jasmine.png" alt="" />
						<div class="meta">
							<p class="name">Jasmine Juwono</p>
							<p class="preview">Okay. Thanks :)</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/jacobs.png" alt="" />
						<div class="meta">
							<p class="name">JUB Class of 2020</p>
							<p class="preview">Roa: Thanks for the info.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/ececs.png" alt="" />
						<div class="meta">
							<p class="name">ECE & CS 2020</p>
							<p class="preview">Oscar: Computer Network and Machine Learning clash time :/</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="../static/images/fezi.png" alt="" />
						<div class="meta">
							<p class="name">Fezi Manana</p>
							<p class="preview">Good night</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/jacobs.png" alt="" />
						<div class="meta">
							<p class="name">JUB Class of 2021</p>
							<p class="preview">Kristijan: Is CampusNet down again for anyone?</p>
						</div>
					</div>
				</li> -->
			</ul>
		</div>
		<!-- CONTACT LIST ENDS HERE -->
	</div>
	<div class="content">
		<!-- CURRENT CHAT INFO STARTS HERE -->
		<div class="contact-profile">
			<img src="../static/images/db.png" alt="" />
			<p>{{ course_name }}</p>
			<a href="{{ url_for('logout') }}" class="btn btn-info btn-lg cc_logout-btn">
				<span class="glyphicon glyphicon-log-out"></span> Log out
			</a>
		</div>
		<!-- CURRENT CHAT INFO ENDS HERE -->
		<!-- CHAT CONTENT STARTS HERE -->
		<div class="messages messages-{{ active_chat_id }}" data-active-chat-id="{{ active_chat_id }}">
			<ul>
				{% for item in messages %}
				<li class="{% if item.sender !=  matr_num %}{{ 'replies' }}{% else %}{{ 'sent' }}{% endif %}">
					<img src="{% if item.sender !=  matr_num%}{{ '../static/images/avatar2.png' }}{% else %}{{ '../static/images/avatar1.png' }}{% endif %}" alt="" />
					<p>
						<label class="cc_sender">{{ item.sender_name }}</label><br />
						{{ item.content }}<br />
						<label class="cc_sent-time">{{ item.sent_time }}
					</p>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!-- CHAT CONTENT ENDS HERE -->
		{% if course_name != 'CampusChat' %}
		<div class="message-input">
			<div class="wrap">
			<input id="myMessage" {% if active_chat_id != None %}name="{{ active_chat_id }}"{% endif %} type="text" placeholder="Write your message..." />
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script src="../static/chat.js"></script>
</body></html>