<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">


<!DOCTYPE html><html class=''>
<head>

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

<link rel="stylesheet" href="../static/chat.css">

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="../static/images/dragi.png" class="online" alt="" />
				<p>Dragi Kamov</p>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="../static/images/dushan.png" alt="" />
						<div class="meta">
							<p class="name">Dushan Terzikj</p>
							<p class="preview">Okay</p>
						</div>
					</div>
				</li>
				<li class="contact active">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/db.png" alt="" />
						<div class="meta">
							<p class="name">DBWS Project</p>
							<p class="preview">Fezi: Okay then see you at 8:30 in the QSA again</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="../static/images/jasmine.png" alt="" />
						<div class="meta">
							<p class="name">Jasmine Juwono</p>
							<p class="preview">Okay. Thanks :)</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/jacobs.png" alt="" />
						<div class="meta">
							<p class="name">JUB Class of 2020</p>
							<p class="preview">Roa: Thanks for the info.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/ece&cs.png" alt="" />
						<div class="meta">
							<p class="name">ECE & CS 2020</p>
							<p class="preview">Oscar: Computer Network and Machine Learning clash time :/</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="../static/images/fezi.png" alt="" />
						<div class="meta">
							<p class="name">Fezi Manana</p>
							<p class="preview">Good night</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="../static/images/jacobs.png" alt="" />
						<div class="meta">
							<p class="name">JUB Class of 2021</p>
							<p class="preview">Kristijan: Is CampusNet down again for anyone?</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="../static/images/db.png" alt="" />
			<p>DBWS Project</p>
		</div>
		<div class="messages">
			<ul>
				<li class="replies">
					<img src="../static/images/dushan.png" alt="" />
					<p>Guys let's meet at 9 and start working on the project</p>
				</li>
				<li class="replies">
					<img src="../static/images/jasmine.png" alt="" />
					<p>Where are we meeting?</p>
				</li>
				<li class="replies">
					<img src="../static/images/fezi.png" alt="" />
					<p>C3 QSA?!</p>
				</li>
				<li class="sent">
					<img src="../static/images/dragi.png" alt="" />
					<p>Awesome.</p>
				</li>
				<li class="replies">
					<img src="../static/images/dushan.png" alt="" />
					<p>Can everyone take their laptops?</p>
				</li>
				<li class="replies">
					<img src="../static/images/fezi.png" alt="" />
					<p>Great, now everyone knows what they need to do. Should we meet again on Sunday?</p>
				</li>
				<li class="replies">
					<img src="../static/images/dushan.png" alt="" />
					<p>Yeah that sounds good</p>
				</li>
				<li class="sent">
					<img src="../static/images/dragi.png" alt="" />
					<p>How far is everyone?</p>
				</li>
				<li class="replies">
					<img src="../static/images/dushan.png" alt="" />
					<p>I am nearly done with mine</p>
				</li>
				<li class="replies">
					<img src="../static/images/jasmine.png" alt="" />
					<p>Me too</p>
				</li>
				<li class="sent">
					<img src="../static/images/dragi.png" alt="" />
					<p>I need to tweak sth in the design and I will be done</p>
				</li>
				<li class="replies">
					<img src="../static/images/fezi.png" alt="" />
					<p>Okay. I am done too so tomorrow should we meet to go over it again and check it</p>
				</li>
				<li class="replies">
					<img src="../static/images/dushan.png" alt="" />
					<p>9:30? Cz I have basketball after that</p>
				</li>
				<li class="replies">
					<img src="../static/images/jasmine.png" alt="" />
					<p>If we finish in like 30 mins sure..</p>
				</li>
				<li class="sent">
					<img src="../static/images/dragi.png" alt="" />
					<p>I think there is not much left to do so the check should be fast</p>
				</li>
				<li class="replies">
					<img src="../static/images/fezi.png" alt="" />
					<p>Okay then see you at 8:30 in the QSA again</p>
				</li>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script src="../static/chat.js"></script>
</body></html>