<html>
<head>
<title>Contact Us</title>
<link href="../static/ContactUs_style.css" rel="stylesheet" type="text/css">
<link href="../static/ContactUs_materialize.css" rel="stylesheet" type="text/css">
<link href="../static/ContactUs_index.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="../static/images/favico.png"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    li{
        color: black;
    }
</style>
</head>
<body>
    <body style="background-image:url(../static/images/IMG_0742.jpg)">
    <header>

        <!-- <div class="row">
            <ul class="main-nav">
                <li class="active"><a href=""> Home</a></li>
                <li><a href=""> Chats</a></li>
                <li><a href=""> About Us</a></li>
            </ul>
        </div> -->
            <nav>
                
                <div class="nav-wrapper" id="cc_nav-home">
                    <a href="#" class="brand-logo white-text">CampusChat</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="white-text cc_nav-bar-button">Home</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">About</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">Imprint</a></li>
                        <!-- TODO: Add login link after fixing the login page -->
                        <li><a href="/" class="white-text cc_nav-bar-button">Login</a></li>
                    </ul>
                   <!-- <form class="form-inline">
                        <input class="form-control mr-sm-2" id="usr" type="text" placeholder="username" aria-label="username">
                        <input class="form-control mr-2" type="password" id="pwd" placeholder="password">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                      </form>-->
                </div>
            </nav>

        </div>
        <div class="hero">
            <center><img src = "../static/images/Location.jpg" style= "width: 600px; height: 400px"></center>
            <h2><center>Contact Us</center></h2>
            <p><center>
                Any questions or concerns regarding CampusChat?</br>
            </br>
                Our team offers support, so don't hesitate to contact us:</br>
            </br>
                Email: d.terzikj@jacobs-university.de</br>
                Phone: +491794229132</br>
                
            </center></div>
        </header>
    </body>

</html>