{% extends "layout.html" %}
{% block head %}
<title>Contact Us</title>
<link href="{{ url_for('static', filename='contact-us.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favico.ico') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    li{
        color: black;
    }
</style>
{% endblock %}
{% block content %}
    <header>

        </div>
        <div class="hero">
            <center><img src = "{{ url_for('static', filename='images/location.jpg') }}" style= "width: 600px; height: 400px"></center>
            <h2><center>Contact Us</center></h2>
            <p><center>
                Any questions or concerns regarding CampusChat?</br>
            </br>
                Our team offers support, so don't hesitate to contact us:</br>
            </br>
                Email: d.terzikj@jacobs-university.de</br>
                Phone: +491794229132</br>
                
            </center></div>
        </header>
{% endblock %}
{% block scripts %}
{% endblock %}