{% extends "layout.html" %}
{% block head %}
<title>Imprint</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='imprint.css') }}" />
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favico.ico') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    li{
        color: black;
    }
</style>
</head>
{% endblock %}
{% block content %}
    <header>
           
        <div class="hero">
            <h1><center><strong>IMPRINT</strong></center></h1>
            <p><center>
                This website is operated by<br/><br/>
                
                CampusChat Group<br/>
                Campus Ring 1<br/>
                28759, Bremen<br/>
                Germany<br/><br/>

                Group members: Jasmine Dayinta, Dragi Kamov, Fezile Manana, Dushan Terzikj<br/>
                Email address: d.terzikj@jacobs-university.de</br>
            </center></p>
            <h3><center>DISCLAIMER</center></h3>
            <p><center>For each external link existing on this website, we initially have checked that the target page
                does not contain contents which is illegal wrt. German jurisdiction. However, as we have no
                influence on such contents, this may change without our notice. Therefore we deny any responsibility
                for the websites referenced through our external links from here. This website is student lab work
                and does not necessarily reflect Jacobs University Bremen opinions. Jacobs University Bremen
                does not endorse this site, nor is it checked by Jacobs University Bremen regularly, nor is it
                part of the official Jacobs University Bremen web presence.</p>
            </center></div>
        </header>
{% endblock %}
{% block scripts %}
{% endblock %}