<html>
<head>
<title>Imprint</title>
<link href="Imprint_style.css" rel="stylesheet" type="text/css">
<link href="Imprint_materialize.css" rel="stylesheet" type="text/css">
<link href="Imprint_index.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="favico.png"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    li{
        color: black;
    }
</style>
</head>
<body>
    <body style="background-image:url(IMG_0742.jpg)">
    <header>

        <!-- <div class="row">
            <ul class="main-nav">
                <li class="active"><a href=""> Home</a></li>
                <li><a href=""> Chats</a></li>
                <li><a href=""> About Us</a></li>
            </ul>
        </div> -->
            <nav>
                
                <div class="nav-wrapper" id="cc_nav-home">
                    <a href="#" class="brand-logo white-text">CampusChat</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="white-text cc_nav-bar-button">Home</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">About</a></li>
                        <li><a href="/" class="white-text cc_nav-bar-button">Contact Us</a></li>
                        <!-- TODO: Add login link after fixing the login page -->
                        <li><a href="/" class="white-text cc_nav-bar-button">Login</a></li>
                    </ul>
                   <!-- <form class="form-inline">
                        <input class="form-control mr-sm-2" id="usr" type="text" placeholder="username" aria-label="username">
                        <input class="form-control mr-2" type="password" id="pwd" placeholder="password">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                      </form>-->
                </div>
            </nav>

        </div>
        <div class="hero">
            <h2><center>Imprint</center></h2>
            <p><center>
                This website is operated by<br/><br/>
                
                CampusChat Group<br/>
                Campus Ring 1<br/>
                28759, Bremen<br/>
                Germany<br/><br/>

                Group members: Jasmine Dayinta, Dragi Kamov, Fezile Manana, Dushan Terzikj<br/>
                Email address: d.terzikj@jacobs-university.de</br>
            </center></p>
            <h3><center>Disclaimer</center></h3>
            <p><center>For each external link existing on this website, we initially have checked that the target page
                does not contain contents which is illegal wrt. German jurisdiction. However, as we have no
                influence on such contents, this may change without our notice. Therefore we deny any responsibility
                for the websites referenced through our external links from here. This website is student lab work
                and does not necessarily reflect Jacobs University Bremen opinions. Jacobs University Bremen
                does not endorse this site, nor is it checked by Jacobs University Bremen regularly, nor is it
                part of the official Jacobs University Bremen web presence.</p>
            </center></div>
        </header>
    </body>

</html>